zookeeper.connect=10.99.2.228:2181
zookeeper.session.timeout.ms=500
zookeeper.sync.time.ms=250
auto.commit.interval.ms=1000
group.id=kvclient-borge-ea29af5c-1699-4299-a4dd-8cc272319436
topic=kvalobs.data
que.size=10

